{% extends "book/main.html" %}
{% load static %}


{% block content %}
<body class="container">
    <h2>Book Detail</h2>
    <p><i><a href="{% url 'books' %}">Back</a></i></p>
     <div class="card" style="width: 33%;">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{% static 'images/book1.png' %}">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{book.title}}<i class="material-icons right">...</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><b>{{book.title}}</b><i class="material-icons right">...</i></span>
      <hr>
      <div style="padding-top: 30px;">
        <p><b>Author:   </b>  {{book.author}}</p>
        <p><b>Isbn  :   </b>{{book.isbn}}</p>
        <p><b>Date  :   </b>{{book.added}}</p>    
      </div>
    </div>
  </div>
</body>
{% endblock content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

</html>



 


        
        
      