{% if request.user.is_authenticated %}
    <i><h5>Hello {{request.user|capfirst}}</h5></i>
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}
<h2>Book List</h2>
<i><a href="{% url 'book-create' %}">Add Book</a></i>
<form method="GET">
    <input type="text" name="search-area" value="{{search_input}}">
    <input type="submit" value="Search">
</form>
<hr>
<table>
    <tr>
        <th>Book Name</th>
        <th></th>
        <th></th>
    </tr>
    {% for book in books %}
    <tr>
        <td>{{book.title}}</td>
        <td><a href="{% url 'book_detail' book.id %}">View</a></td>
        <td><a href="{% url 'book-update' book.id %}">Edit</a></td>
        <td><a href="{% url 'book-delete' book.id %}">Delete</a></td>
    </tr>
    {% empty %}
        <h3>No Books in List</h3>
    {% endfor %}
</table>
