{% extends "book/main.html" %}

{% block content %}
<div style="display: flex; justify-content: space-between;">
    {% if request.user.is_authenticated %}
    <i><h5>Hello {{request.user|capfirst}}</h5></i>
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}
</div>
<h2 style="text-align: center;">Book List</h2>
<a href="{% url 'book-create' %}"><i class=" medium material-icons">add_circle</i>Add Book</a>
<form method="GET"  style="display: flex;">
    <input type="text" name="search-area" value="{{search_input}}">
    <input type="submit" value="Search" class="waves-effect waves-light btn">
</form>
<hr>
{% for book in books %}
<ul class="collection">
    <li class="collection-item avatar">
    <i class="material-icons circle red">book</i>
      <span class="title">{{book.title}}</span>
      <p> <a href="{% url 'book_detail' book.id %}">View</a><br>
        <a href="{% url 'book-update' book.id %}">Edit</a><br>
        <a href="{% url 'book-delete' book.id %}">Delete</a>
      </p>
      <a href="{% url 'book_detail' book.id %}" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
</ul>   
{% empty %}
<h3>No Books in List</h3>
{% endfor %} 

{% endblock content %}
